node_modules/
.git
.gitignore
.env
.env.local
.env.*.local
dist/
build/
.vscode/
.idea/
*.log
.DS_Store
.cache/
.eslintcache
coverage/
.nyc_output/
*.tgz
.turbo/
.next/
out/
.nuxt/
.cache/
.vuepress/dist/
.serverless/
.fusebox/
.dynamodb/
.tern-port
venv/
__pycache__/